<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta property="og:title" content="Sentimentr"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="{{ url_for('static', filename='img/og-img.jpg') }}"/>
    <meta property="og:description"
          content="A tool to measure sentiment in news headlines for 2020 presidential candidates"/>
    <meta property="og:url" content="https://sentimentr.nmbroad.com"/>

    <title>Sentimentr</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicons/site.webmanifest') }}">


    <!-- Font Awesome Icons -->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
          type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic'
          rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{{ url_for('static', filename='vendor/magnific-popup/magnific-popup.css') }}" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="{{ url_for('static', filename='css/creative.css') }}" rel="stylesheet">

    {% if title=='home' %}
        <!--    Chart JS    -->
        <script type="text/javascript"
                src="{{ url_for('static', filename='vendor/chart/Chart.bundle.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/axios.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/chart_plotter.js') }}"></script>
        {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>#}
        {#    <script src="https://code.jquery.com/jquery-3.4.1.min.js"#}
        {#            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="#}
        {#            crossorigin="anonymous"></script>#}
    {% endif %}

</head>
<body id="pageTop">
<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 {{ 'purp' if title=='models' }}" id="mainNav">
    <div class="container ">
        {% if title=='home' %}
            <a class="navbar-brand js-scroll-trigger" href="#pageTop">Sentimentr</a>
        {% else %}
            <a class="navbar-brand js-scroll-trigger" href="/">Sentimentr</a>
        {% endif %}
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse " id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                {% if title=='home' %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#models">Models</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#results">Results</a>
                    </li>
                {% endif %}

                {% if title=='models' %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#textblob">TextBlob</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#vader">VADER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#lstm">LSTM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#bert">BERT</a>
                    </li>

                {% endif %}
            </ul>
        </div>


    </div>
</nav>


{% block content %}
{% endblock content %}


<!-- Contact Section -->
<section class="bg-gray-grad page-section px-1 px-sm-3 py-4" id="contact">
    <div class="container">
        <div class="row justify-content-center my-0">
            <div class="col-4 col-sm-3  text-center ">
                <a href="https://www.linkedin.com/in/nicholas-broad-7a530263" class="d-block">
                    <i class="fab fa-linkedin fa-2x mb-3 text-light"></i>
                </a>
                <a class="d-block text-light" href="https://www.linkedin.com/in/nicholas-broad-7a530263">LinkedIn</a>
            </div>
            <div class="col-4 col-sm-3  text-center">
                <a href="https://nmbroad.com" class="d-block">
                    <i class="fas fa-home fa-2x mb-3 text-light"></i>
                </a>
                <a class="d-block  text-light" href="https://nmbroad.com">Personal Website</a>
            </div>
            <div class="col-4 col-sm-3  text-center">
                <a href="mailto:nicholas@nmbroad.com" class="d-block">
                    <i class="fas fa-envelope fa-2x mb-3 text-light"></i>
                </a>
                <a class="d-block  text-light" href="mailto:nicholas@nmbroad.com">Email</a>
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<!--{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'#}-->
<!--{#        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"#}-->
<!--{#        crossorigin="anonymous"></script>#}-->
<script type="text/javascript" src="{{ url_for('static', filename='vendor/popper/popper.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Plugin JavaScript -->
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

<!-- Custom scripts for this template -->
<script type="text/javascript" src="{{ url_for('static', filename='js/creative.js') }}"></script>


</body>

</html>