{% extends "layout.html" %}
{% block content %}
    <h1 class="text-center">VADER</h1>
    <h3 class="text-center"><a href="https://github.com/cjhutto/vaderSentiment">Valence Aware Dictionary and sEntiment Reasoner</a></h3>

    <div class="container d-flex justify-content-center">
        <div style="position: relative; height:60vh; width:60vw">
            <canvas id="myChart" style="background-color: white"></canvas>
        </div>
    </div>

    <script>
        const COMPOUND_INDEX = 8;
        const DATE_INDEX = 1;
        const TITLE_INDEX = 2;
        var getData = $.get('/data_test');
        {#var getData = $.get('/vader_data');#}


        getData.done(function (results) {
            console.log(results[3])
            const ctx = document.getElementById('myChart').getContext('2d');
            var compound_values = [];
            var dates = [];
            var titles = [];
            var news_companies = [];
            results.forEach(function (res) {
                compound_values.push(res['vader_compound']);
                {#compound_values.push(res[COMPOUND_INDEX]);#}
                dates.push(new Date(res['datetime']));
                {#dates.push(new Date(res[DATE_INDEX]));#}
                titles.push(res['title']);
                news_companies.push(res['news_co']);
            });
            console.log(dates[0])
            const data = {
                labels: dates,
                datasets: [{
                    label: 'Title Sentiment',
                    fill: false,
                    borderColor: 'rgb(255, 99, 132)',
                    data: compound_values
                }]
            };
            const options = {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: data,
                aspectRatio: 2,

                // Configuration options go here
                options: {
                    tooltips: {
                        callbacks: {
                            title: function(tooltipItems, data){
                                var index = tooltipItems[0].index;
                                var news_co = news_companies[index];
                                var score = tooltipItems[0].value;
                                var date = dates[index].toDateString();

                                return score + ' - ' + news_co + ' - ' + date;
                            },

                            label: function (tooltipItem, data) {
                                var title = titles[tooltipItem.index];
                                return title;
                            }
                        },
                        titleFontSize:20,
                        bodyFontSize:16
                    },
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: 'day'
                            }
                        }]
                    }
                }
            };
            var myChart = new Chart(ctx, options);
        })


    </script>


{% endblock content %}