{% extends "layout.html" %}
{% block content %}
    <h1 class="text-center">All about VADER</h1>
    <div class="container d-flex justify-content-center">
        <div style="position: relative; height:60vh; width:60vw">
            <canvas id="myChart" style="background-color: white"></canvas>
        </div>
    </div>

    <script>
        const COMPOUND_INDEX = 8;
        const DATE_INDEX = 1;
        const TITLE_INDEX = 2;
        var getData = $.get('/vader_data');


        getData.done(function (results) {
            const ctx = document.getElementById('myChart').getContext('2d');
            var compound_values = [];
            var dates = [];
            var titles = [];
            results.forEach(function (res) {
                compound_values.push(res[COMPOUND_INDEX]);
                dates.push(new Date(res[DATE_INDEX]));
                titles.push(res[TITLE_INDEX]);
            });
            const data = {
                labels: dates,
                datasets: [{
                    label: 'CNN Sentiment',
                    fill: false,
                    borderColor: 'rgb(255, 99, 132)',
                    data: compound_values
                }]
            };
            const options = {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: data,
                aspectRatio: 2,

                // Configuration options go here
                options: {
                    tooltips: {
                        callbacks: {
                            label: function (tooltipItem, data) {
                                var datasetLabel = tooltipItem.value;
                                var title = titles[tooltipItem.index];
                                return '(' + datasetLabel + ') '  + title;
                            }
                        }
                    },
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: 'day'
                            }
                        }]
                    }
                }
            };
            var myChart = new Chart(ctx, options);
        })

    </script>


{% endblock content %}